<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.blog.mapper.AdminMapper">
    <select id="countArticleAndComment" resultType="Map">
        SELECT today_article_count,
               month_article_count,
               total_article_count,
               today_comment_count,
               month_comment_count,
               total_comment_count
        FROM (SELECT count(*) AS today_article_count
              FROM article
              WHERE to_days(created_time) = to_days(now())) today_article_count,
             (SELECT count(*) AS month_article_count
              FROM article
              WHERE DATE_FORMAT(created_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')) month_article_count,
             (SELECT count(*) AS total_article_count FROM article) total_article_count,
             (SELECT count(*) AS today_comment_count
              FROM comment
              WHERE to_days(created_time) = to_days(now())) today_comment_count,
             (SELECT count(*) AS month_comment_count
              FROM comment
              WHERE DATE_FORMAT(created_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')) month_comment_count,
             (SELECT count(*) AS total_comment_count FROM comment) total_comment_count
    </select>
</mapper>