<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.blog.mapper.ArticleMapper">
    <resultMap id="ArticleResultMap" type="Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="synopsis" column="synopsis"/>
        <result property="content" column="content"/>
        <result property="createdTime" column="created_time"/>
        <result property="viewCount" column="view_count"/>
        <result property="commentCount" column="comment_count"/>
        <association property="category" javaType="Category">
            <id property="id" column="category_id"/>
            <result property="name" column="name"/>
            <result property="icon" column="icon"/>
        </association>
    </resultMap>

    <insert id="insertArticle">
        insert into article(title, synopsis, content, created_time, category_id)
        values (#{title}, #{synopsis}, #{content}, #{createdTime}, #{category.id})
    </insert>

    <update id="incrementViewCount">
        update article
        set view_count = view_count + 1
        where article.id = #{articleId}
    </update>

    <update id="incrementCommentCount">
        update article
        set comment_count = comment_count + 1
        where article.id = #{articleId};
    </update>

    <update id="decreaseCommentCount">
        <foreach collection="ids" item="id">
            update article
            set comment_count = comment_count - 1
            where id =
            (select comment.article_id from comment where id = #{id})
        </foreach>
    </update>

    <update id="updateArticle">
        update article
        set title = #{title}, synopsis = #{synopsis}, content = #{content},
            created_time = #{createdTime}, category_id = #{category.id}
        where id = #{id}
    </update>

    <delete id="deleteArticle">
        delete from article
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteArticleByCategoryId">
        delete
        from article
        where category_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectArticleById" resultMap="ArticleResultMap">
        select article.id, article.title, article.synopsis, article.content,
               article.created_time, article.view_count, article.comment_count,
               category.id as category_id, category.name, category.icon
        from article,category
        where article.category_id = category.id
          and article.id = #{articleId}
    </select>

    <select id="selectArticles" resultMap="ArticleResultMap">
        select article.id, article.title, article.synopsis,
               article.created_time, article.view_count, article.comment_count,
               category.id as category_id, category.name, category.icon
        from article, category
        where article.category_id = category.id
        <if test="categoryId != 0">
            and article.category_id = #{categoryId}
        </if>
        order by article.created_time desc
    </select>
</mapper>