<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.blog.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="Comment">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createdTime" column="created_time"/>
        <result property="articleId" column="article_id"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
        </association>
    </resultMap>

    <insert id="insertComment">
        insert into comment(content, user_id, article_id, created_time)
        values (#{content}, #{user.id}, #{articleId}, #{createdTime})
    </insert>

    <select id="selectComments" resultMap="CommentResultMap">
        select comment.id, comment.content, comment.created_time, comment.article_id,
               user.id as user_id, user.username
        from comment, user
        where comment.user_id = user.id
          and comment.article_id = #{articleId}
        order by comment.created_time desc
    </select>
</mapper>